.menu {
  display: block;
  text-indent: -9999px;
}

.hamburger::before,
.hamburger::after,
.menu > .center {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background:var(--color-fourth);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
}

.hamburger::after {
  margin-bottom: 0;
}
